# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.spec

# 虚拟环境
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# 临时文件
*.log
*.tmp
.DS_Store
Thumbs.db

# 不需要打包上传的文件
run_app.py
build_exe.py
matlab-mcp-core-server-win64.exe
